*{
    box-sizing: border-box;
}
.main{
    background-color: aqua;
    height: 500px;
    width: 400px;
}
.header{
    height: 50px;
    width: 400px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}